@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Josefin+Sans:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Josefin Sans", ui-sans-serif, system-ui, sans-serif;
  --color-rose-gold: #b88e7d;
  --color-text-dark: #6b5e59;
}
